---
layout: default
published: true
---
<div class="content-box-blue">
  <strong>Статья месяца</strong>
  <br />
  <a href="{{ site.url }}/brew/Vse-o-kofeinoy-penke.html">О крема и том, как её сделать лучше</a>.
</div>


<h2> Кофемолки, кофеварки и другие полезные приспособления </h2>
<ul>
  {% assign sorted_team = site.categories.Hardware | sort:'title' %}
  {% for member in sorted_team %}
  <li><a href="{{ site.baseurl }}{{ member.url }}">{{ member.title }}</a></li>
  {% endfor %}
</ul>

<h2> Как готовить вкусный кофе</h2>
<ul>
  {% assign sorted_team = site.categories.Brew | sort:'title' %}
  {% for member in sorted_team %}
  <li><a href="{{ site.baseurl }}{{ member.url }}">{{ member.title }}</a></li>
  {% endfor %}
</ul>

<h2> Про кофе и ингридиенты </h2>
<ul>
  {% assign sorted_team = site.categories.Coffee | sort:'title' %}
  {% for member in sorted_team %}
  <li><a href="{{ site.baseurl }}{{ member.url }}">{{ member.title }}</a></li>
  {% endfor %}
</ul>

