<!-- Yandex.Market Widget -->
<script async src="https://aflt.market.yandex.ru/widget/script/api" type="text/javascript"></script>
<script type="text/javascript">
    (function (w) {
        function start() {
            w.removeEventListener("YaMarketAffiliateLoad", start);
            w.YaMarketAffiliate.createWidget({type:"offers",
	containerId:"marketWidget",
	fallback:true,
	rotate:{marketToBeru:true,
		beruToMarket:true },
	params:{clid:3102181,
		erid:"4CQwVszL78EMgD7wY4V",
		searchModelIds:[157468112 ],
		searchCount:6,
		searchLocalOffersFirst:true,
		searchInStock:true,
		themeId:2 } });
        }
        w.YaMarketAffiliate
            ? start()
            : w.addEventListener("YaMarketAffiliateLoad", start);
    })(window);
</script>
<!-- End Yandex.Market Widget -->
<div id="marketWidget"></div>