<!-- Yandex.Market Widget -->
<script async src="https://aflt.market.yandex.ru/widget/script/api" type="text/javascript"></script>
<script type="text/javascript">
    (function (w) {
        function start() {
            w.removeEventListener("YaMarketAffiliateLoad", start);
            w.YaMarketAffiliate.createWidget({containerId:"marketWidget",
	type:"offers",
	fallback:true,
	params:{clid:2364841,
	    vid:"30",
		searchModelIds:[781951231,1747887489],
		searchLocalOffersFirst:true,
		searchCount:3,
		sovetnikPromo:false,
		themeId:1 }	});
        }
        w.YaMarketAffiliate
            ? start()
            : w.addEventListener("YaMarketAffiliateLoad", start);
    })(window);
</script>
<!-- End Yandex.Market Widget -->
<div id="marketWidget"></div>