---
---

@import "{{ site.theme }}";
body { 
  padding: 0; 
  margin: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  line-height: 1.5;
  color: #606c71; 
  letter-spacing: 0;
  font-weight: 400;
  font-style: normal;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -moz-font-feature-settings: liga on;
  font-size: 15px;
  font-size: 1.5rem;
  line-height: 1.6
}

.page-header { color: #fff; text-align: center; background-color: #159957; background-image: linear-gradient(180deg, #155799, #159957); }
@media screen and (min-width: 64em) { .page-header { padding: 5rem 6rem; } }
@media screen and (min-width: 42em) and (max-width: 64em) { .page-header { padding: 3rem 4rem; } }
@media screen and (max-width: 42em) { .page-header { padding: 2rem 1rem; } }
	.content-box-blue,
	.content-box-gray,
	.content-box-grey,
	.content-box-army,
	.content-box-green,
	.content-box-purple,
	.content-box-red,
	.content-box-yellow {
		margin: 0 0 25px;
		overflow: hidden;
		padding: 20px;
		color: #919191;
	        font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
	        font-style: italic;
		-webkit-border-radius: 10px;
        border-radius: 10px;
	}

	.content-box-blue {
    		background-color: #F0F8FF;
    		border: 1px solid #A0A8CC;
    	}

	.content-box-gray {
		background-color: #e2e2e2;
		border: 1px solid #bdbdbd;
	}

	.content-box-grey {
		background-color: #F5F5F5;
		border: 1px solid #DDDDDD;
	}

	.content-box-army {
		background-color: #737a36;
		border: 1px solid #000000;
	}

	.content-box-green {
		background-color: #d9edc2;
		border: 1px solid #b2ce96;
	}

	.content-box-purple {
		background-color: #e2e2f9;
		border: 1px solid #bebde9;
	}

	.content-box-red {
		background-color: #f9dbdb;
		border: 1px solid #D95762;
	}

	.content-box-yellow {
		background-color: #fef5c4;
		border: 1px solid #FADF98;
	}