<!DOCTYPE html>
<html lang="en-us">
<head>
    <meta charset="utf-8"/>
    <meta content='text/html; charset=utf-8' http-equiv='Content-Type'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <link rel="canonical" href="{{ site.url }}{{ page.url | replace:'index.html',''}}">
    {% if page.excerpt %}
    <meta name="description" content="{{ page.excerpt| strip_html }}"/>
    <meta property="og:description" content="{{ page.excerpt| strip_html }}"/>
    {% else %}
    <meta name="description" content="{{ site.description }}">
    <meta property="og:description" content="{{ site.description }}"/>
    {% endif %}
    <meta name="author" content="{{ site.url }}"/>
    {% if page.title %}
    <meta property="og:title" content="{{ page.title }}"/>
    <meta property="twitter:title" content="{{ page.title }}"/>
    {% endif %}
    <title>{{ page.title | default: site.title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#157878">
    <link rel="stylesheet" href="{{ '/assets/css/style.css' }}">
    {% if page.iis_slider_active %}
    <!-- Slider CSS -->
    <link rel="stylesheet" href="{{ "/assets/bower/ideal-image-slider.css" | relative_url }}">
    <link rel="stylesheet" href="{{ "/assets/bower/themes/default/default.css" | relative_url }}">
    {% endif %}
    <meta name="yandex-verification" content="15d3723d8a8c8a2a"/>
    <meta name="google-site-verification" content="qmr10rpd_vtBI8qHVM1cu4Ol8C2HxFk95QnmzAE2x58"/>
</head>
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-DHY5FPRW9H"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-DHY5FPRW9H');
</script>
<body>
<section class="page-header">
    <h1 class="project-name">{{ site.title }}</h1>
    <h2 class="project-tagline">{{ site.description }}</h2>
    <a href="{{ site.url }}/" class="btn">На главную</a>
    <a href="{{ site.url }}/hardware/" class="btn">Оборудование</a>
    <a href="{{ site.url }}/brew/" class="btn">Приготовление</a>
    <a href="{{ site.url }}/coffee/" class="btn">Кофе</a>
</section>

<section class="main-content">

    {{ content }}

    <footer class="site-footer">
        <span class="site-footer-credits">Больше кофе, вкусного и разного!</span><br/>
        <span class="site-footer-credits"><a
                href="{{ site.url }}/policy">Политика конфиденциальности сайта</a>.</span><br/>
        <span class="site-footer-credits"><a href="{{ site.url }}/contacts">Контактная информация</a>.</span><br/>
        <span class="site-footer-credits"><a href="{{ site.url }}/about">О сайте</a>.</span>
    </footer>
</section>

{% if site.google_analytics %}
<script type="text/javascript">
        var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
        document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));


</script>
<script type="text/javascript">
        try {
          var pageTracker = _gat._getTracker("{{ site.google_analytics }}");
        pageTracker._trackPageview();
        } catch(err) {}


</script>
{% endif %}

{% if page.iis_slider_active %}
<!-- Slider -->
<script src="{{ "/assets/bower/ideal-image-slider.min.js" | relative_url }}"></script>
<script src="{{ "/assets/bower/extensions/bullet-nav/iis-bullet-nav.js" | relative_url }}"></script>
<script src="{{ "/assets/bower/extensions/captions/iis-captions.js" | relative_url }}"></script>
<!-- Sliders on pages -->
{% for script in page.iis_slider_scripts %}
  {{ script }}
{% endfor %}
<!-- Sliders on indexes -->
{% for post in paginator.posts %}
  {% for script in post.iis_slider_scripts %}
    {{ script }}
  {% endfor %}
{% endfor %}
{% endif %}
</body>
</html>
